<ion-header>
  <ion-toolbar>
    <ion-title>Sketches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Main screen
    </ion-item>
    <ion-item>
      <img src="../../assets/image/MainScreen.PNG" height="480" width="280" class="center"/>
    </ion-item>

    <ion-item>
      Screen when adding items
    </ion-item>
    <ion-item>
      <img src="../../assets/image/AddItem.PNG" height="480" width="280" class="center"/>
    </ion-item>

    <ion-item>
      Screen to show future lists
    </ion-item>
    <ion-item>
      <img src="../../assets/image/FutureList.PNG" height="480" width="280" class="center"/>
    </ion-item>

    <ion-item>
      Screen when selecting a list
    </ion-item>
    <ion-item>
      <img src="../../assets/image/SelectList.PNG" height="480" width="280" class="center"/>
    </ion-item>
  </ion-list>
</ion-content>
