<ion-header>
  <ion-toolbar>
    <ion-title>Sketches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <p class="center"> Main screen </p>
    </ion-item>
    <ion-item>
      <img src="../../assets/image/MainScreen.PNG" height="480" width="360" class="center"/>
    </ion-item>

    <ion-item>
      <p class="center">Screen when adding items</p>
    </ion-item>
    <ion-item>
      <img src="../../assets/image/AddItem.PNG" height="480" width="360" class="center"/>
    </ion-item>

    <ion-item>
      <p class="center">Screen to show future lists</p>
    </ion-item>
    <ion-item>
      <img src="../../assets/image/FutureList.PNG" height="480" width="360" class="center"/>
    </ion-item>

    <ion-item>
      <p class="center">Screen when selecting a list</p>
    </ion-item>
    <ion-item>
      <img src="../../assets/image/SelectList.PNG" height="480" width="360" class="center"/>
    </ion-item>
  </ion-list>
</ion-content>
