<ion-header>
  <ion-toolbar>
    <ion-title>The Following technologies will be used</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ul>
      <li>
        Angular / Ionic
      </li>
      <br>
      <p>The whole application will be build with Ionic which is build on the top of Angular.</p>
    </ul>
  </ion-card>
  <ion-card>
    <ul>
      <li>
        SQLite3 or MongoDB
      </li>
      <br>
      <p>The plan is to have a cloud database in the future and share shopping list across multiple clients. However, a
      standalone database is an essential for a stand alone application configuration.</p>
    </ul>
  </ion-card>
  <ion-card>
    <ul>
      <li>
        Robot Framework / Selenium / Python3
      </li>
      <br>
      <p>A side project for automation/acceptance system testing of the application.</p>
    </ul>
  </ion-card>
</ion-content>
