<ion-tabs>
  <ion-tab-bar slot="top">

    <ion-tab-button tab="goals">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personas">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Personas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sketches">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Sketches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="critique">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Critique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tech">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Tech</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
