<ion-header>
  <ion-toolbar>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>WeekList - Info</ion-card-title>
        <ion-card-content>
          WeekList is a shopping list app. Usually similar applications let the user to type the items.
          This application will be using a local database and smart algorithms to remember things that user
          buys more often and also trying to predict when items that purchased periodically will need to be
          purchased again.
        </ion-card-content>
        <ion-card-content>
          <ul>
            <li>
              Using the app the user will have the ability to add multiple lists for different stores as well as
              future lists.
            </li>
            <li>
              The app will store different stores, depending on the type.
            </li>
            <li>
              It will also have a weekly plan for shopping in the next months.
            </li>
            <li>
              Users can create accounts and share his lists with another account.
            </li>
            <li>
              Users can also add prices and group items in categories.
            </li>
            <li>
              WeekList will also take advantage of QR reader, to read barcodes and store items.
            </li>
          </ul>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
