<ion-header>
  <ion-toolbar>
    <ion-title>Khalid Bachel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <img src="../../../assets/image/khalid.jpg" height="180" width="160" align="right" style="margin: 10px;"/>
      <ion-card-header>
        <ion-card-title>Info</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Khalid was born in the UK 61 years ago. He lives alone, he has no kids but he loves his four nieces.
        He used to be an author and although he is retired, he writes for the local newspaper from time to time.
        He loves gplaying chess and reading. He is not very keen with technology.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Goals</ion-label>
      </ion-card-header>

      <ion-card-content>
        <ul class="ios">
          <li>Khalid loves to cook for his nieces. Usually they do it every Sunday.</li>
          <li>He likes to go to the local flea market to buy fresh vegetables. </li>
          <li>He loves take short travels outside the city. He is trying to spend more time to the nature.</li>
        </ul>
      </ion-card-content>

      <ion-card-header>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Frustrations</ion-label>
      </ion-card-header>

      <ion-card-content>
        <ul class="ios">
          <li>Khalid hates technology and he is trying to spend the minimum of time on it.</li>
          <li>He doesn't like big Malls and shopping centers. </li>
        </ul>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
