<ion-header>
  <ion-toolbar>
    <ion-title>Miriam Young</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <img src="../../../assets/image/miriam.jpg" height="180" width="180" align="right" style="margin: 10px;"/>
      <ion-card-header>
        <ion-card-title>Info</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Born in US 35 years ago, Miriam moved in the UK 6 years ago. Miriam is married with 2 kids.
        She holds an MSc Digital Marketing and social media and works for a London base company.
        She loves going to the theater to watch a movie, as well as going out for dinner.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Goals</ion-label>
      </ion-card-header>

      <ion-card-content>
        <ul class="ios">
          <li>Miriam wants a healthy diet for she and her family.</li>
          <li>She is trying to go shopping every Friday, except for fruits and vegs that does twice every week. </li>
          <li>She loves technology and gadgets. She  spends a lot of time on the internet.</li>
          <li>She prefers to spend time to buy the best quality of ingredients to cook, that spend hours shopping things she forgot.</li>
        </ul>
      </ion-card-content>

      <ion-card-header>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Frustrations</ion-label>
      </ion-card-header>

      <ion-card-content>
        <ul class="ios">
          <li>Miriam hates when they have to order food.</li>
          <li>She loath every time they want to clear their house and they don't have cleaning stuff. </li>
          <li>She hates returning from shopping and realizing that she forgot to buy a couple of things.</li>
        </ul>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
